beautifulsoup4==4.9.3
Brotli @ file:///C:/ci/brotli-split_1602517705222/work
bs4==0.0.1
certifi==2020.12.5
chardet==4.0.0
click @ file:///home/linux1/recipes/ci/click_1610990599742/work
colorama==0.4.4
configparser==5.0.1
crayons==0.4.0
dash @ file:///tmp/build/80754af9/dash_1611168717544/work
dash-core-components==1.3.1
dash-html-components==1.0.1
dash-renderer==1.1.2
dash-table==4.4.1
et-xmlfile==1.0.1
Flask==1.1.2
Flask-Compress @ file:///tmp/build/80754af9/flask-compress_1605067594328/work
future==0.18.2
idna==2.10
itsdangerous==1.1.0
jdcal==1.4.1
Jinja2 @ file:///home/linux1/recipes/ci/jinja2_1610990516718/work
joblib==1.0.0
linkedin-jobs-scraper==1.5.2
login==0.0.6
lxml==4.6.2
MarkupSafe==1.1.1
MouseInfo==0.1.3
numexpr==2.7.2
numpy==1.19.5
openpyxl==3.0.6
orca==1.5.4
pandas==1.2.1
Pillow==8.1.0
plotly @ file:///tmp/build/80754af9/plotly_1610565580232/work
psutil @ file:///C:/ci/psutil_1598370330503/work
PyAutoGUI==0.9.52
PyGetWindow==0.0.9
PyMsgBox==1.0.9
pyperclip==1.8.1
PyRect==0.1.4
PyScreeze==0.1.26
python-dateutil==2.8.1
PyTweening==1.0.3
pytz==2020.5
PyYAML==5.4.1
reload==0.9
requests==2.25.1
retrying==1.3.3
scikit-learn==0.24.1
scipy==1.6.0
selenium==3.141.0
six @ file:///C:/ci/six_1605187374963/work
soupsieve==2.1
tables==3.6.1
threadpoolctl==2.1.0
toolz==0.11.1
urllib3==1.26.3
watchdog==1.0.2
webdriver-manager==3.3.0
websocket-client==0.57.0
Werkzeug==1.0.1
wincertstore==0.2
